// Navigation Styles here
.head_container {
    .flex();
     border-bottom: 2px dashed @navigation-border;
        // max-width: 800px;
    // margin: 30px 0;
    
    .navbar {
        width: 40%;
        .flex();
    
    nav {
        font-size: 4.5 rem;
    }
    }

}